*{
    box-sizing: border-box;
}
.login{
    font-family: Arial, sans-serif;
    background-color: #20521F;
    margin: 0;
    padding: 0;
}
.login h2{
    text-align: center;
    margin-bottom: 30px;
}
.login-container{
    width: 300px;
    background-color: #039900;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn button{
    margin: 10px;
}