*{
    box-sizing: border-box;
}
.login{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #039900;
    margin-top: 40%;
    margin-left: 30%;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    border-left: 8px solid #20521F;
    border-top: 8px solid #20521F;
    
}
.login h2{
    text-align: center;
    margin-bottom: 3%;
    color: white;
}
.login-container{
    text-align: center;
    width: 300px;
    height: 250px;
    margin-bottom: 3%;
    background-color: #039900;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-container h4{
    padding-top: 35px;
    margin-top: 0;
    color: white;
}
.login-container input {
    border-radius: 5px;
    height: 30px;

}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn button{
    border-radius: 5px;
    margin: 10px;
}