<div class="areaUser"> <!--aplicar ng for e associar o bem vindo ao apelido ou nome da pessoa respectivamente-->
    <h1>Bem vindo (Usuário) !</h1>
    <img src="/upload/wallpaperflare.com_wallpaper (2).jpg" alt="FotoPerfil" />
    <h2>Usuário:</h2>
    <p id="Nome">(Nome do usuário)</p>
    <h2>Email:</h2>
    <p id="E-mail">(E-mail do usuario)</p>
    <h2>Instituição:</h2>
    <p id="Instituição">(Nome da instituição)</p>
    <h2>Responsável:</h2>
    <p id="Responsável">(Nome do responsável)</p>
</div>
<div class="btn-comandos-userArea">
    <button>Editar</button><!--Não funcional ainda-->
    <button>Sair</button><!--Não funcional ainda-->
</div>
<div class="areaUser-task">
    <h1>Veja seus balanços:</h1>
    <table class="taskUser">
        <tr>
            <td>balanço 1</td>
            <td>balanço 2</td>
            <td>balanço 3</td>
        </tr>
        <tr>
            <td>balanço 4</td>
            <td>balanço 5</td>
            <td>balanço 6</td>
        </tr>
    </table>
</div>