<table border="" id="Base">
    <tr>
        <td id="Tipo-entrada">
            <button class="DebCre" id="Crédito" onclick="toggleCheckBox('Crédito')"><label
                    for="Crédito">C</label></button>
            <button class="DebCre" id="Débito" onclick="toggleCheckBox('Crédito')"><label
                    for="Débito">D</label></button>
            <input type="checkbox" id="hiddenCrédito" style="display: none">
            <input type="checkbox" id="hiddenDébito" style="display: none">
        </td>
        <td id="bah">
            <label>Qual</label><br>
            <select id="Bah">
                <option id="Bah"></option>
                <option id="Bah">Ativo</option>
                <option id="Bah">Passivo</option>
                <option id="Bah">Patrimonio Líquido</option>
            </select>
        </td>
        <td id="Entrar">
            <label for="entrada">Escolha sua entrada</label><br>
            <select id="entrada">
                <option id="entrada"></option>
                <option id="entrada">Caixa</option>
                <option id="entrada">Banco</option>
                <option id="entrada">Imobilizado</option>
                <option id="entrada">Estoque</option>
            </select>
        </td>
        <td id="Valores">
            <label for="Valor">Digite seu valor</label><br>
            <input type="number" id="Valor" min="0" placeholder="0.00">
        </td>
    </tr>
</table>

<table border="" id="Nova">
</table>
<button class="Adic" id="Adicionar">Adicionar</button>
<button class="Graf" id="Grafico">Acompanhar</button>
<script src="src\app\Front\ferramenta\form\form.component.tss"></script>
