table{
    margin-left: 100px;
    margin-top: 10px;
}
#Tipo-entrada{
    height: 80px;
    width: 100px;
}
#Crédito{
    height: 30px;
    width: 30px;
    margin: 4px;
}
#Débito{
    height: 30px;
    width: 30px;
    margin: 4px;
}
#Tipagem{
    width: 140px;
}
#Tip-Entrad{
    width: 100px;
}
#Entrar{
    width: 150px;
}
#entrada{
    width: 100px;
}
#Valores{
    width: 150px;
}
#Valor{
    width: 100px;
}
.DebCre{
  border: none;
  border-radius: 50%;
  box-shadow: 3px -2px black;
  background: rgb(233, 236, 234);
  cursor: pointer;
}
.DebCre :hover{
background: navy;
}
.DebCre :active{
  background: black;
  color: aliceblue;
  }
.adic{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: none;
  box-shadow: -3px 2px black;
}
