<div>
  <input [(ngModel)]="contaO" placeholder="Valor 1" #campo1 [ngClass]="{ 'diferenca': contaO !== contaD }">
  <input [(ngModel)]="contaD" placeholder="Valor 2" #campo2 [ngClass]="{ 'diferenca': contaD !== contaO }">
  <br>
  <button (click)="compararValores()">Comparar</button>
  <br>
  <div *ngIf="campoFaltando">
    Preencha o {{ campoFaltando }} para calcular a diferença.
  </div>
  <div *ngIf="diferenca !== 0">
    A diferença entre os valores é: {{ diferenca }}
  </div>
  <div *ngIf="campoFaltando === '' && diferenca === 0">
    Não há diferença entre os valores.
  </div>
</div>
