  <nav>
    <section class="sidebar">

    <div class="nav-header">
      <p class="logo">Área de estudos</p>
      <i class="bx bx-menu-alt-right btn-menu"></i>
      </div>
      <ul class="nav-routes">
        <li>
        <i class='bx bx-search-alt-2 busca-btn'></i>
        <input type="text" placeholder="Buscar...">
      </li>
        <li class="routes" routerLink="">
               <i class='bx bx-home'></i>
          <span class="text">Início</span>
        </li>
        <li class="routes" routerLink="/balanço">
          <i class='bx bxs-bar-chart-alt-2' ></i>
          <span class="text">Balanços</span>
        </li>
        <li class="routes" routerLink="/lançamentos">
            <i class='bx bx-spreadsheet'></i>
          <span class="text">Lançamentos</span>
        </li>
        <li class="routes" routerLink="">
          <i class='bx bx-buildings'></i>
          <span class="text">Contole</span>
        </li>
        <li class="routes" routerLink="">
          <i class='bx bx-user'></i>
          <span class="text">Perfil</span>
        </li>
        <li class="routes" routerLink="/testes">
          <i class='bx bx-cog' ></i>
          <span class="text">Testes desenvolvimento</span>
        </li>
      </ul>
      <div class="theme-wrapper">
        <i class='bx bxs-moon theme-icon'></i>
        <p>Tema escuro</p>
        <div class="theme-btn">
          <span class="theme-ball"></span>
        </div>
      </div>
    </section>
      <section class="home">
        <p>Página inicial aqui</p>
      </section>
<script>
  
</script>
  <nav>

