table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td.total-value,
td.sub-total-value {
  font-weight: bold;
}

.balanco-btn {
  margin-top: 16px;
  text-align: center;
}

.total-title {
  background-color: #f2f2f2;
  font-size: 1.2em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.sub-title {
  font-size: 1.2em;
  font-weight: bold;
}

.name,
.value {
  text-align: right;
}

.value {
  text-align: right;
  width: 100px;
}

.total-value,
.sub-total-value {
  font-size: 1.2em;
  font-weight: bold;
}

.balanco-table {
  border-collapse: separate;
  margin-bottom: 16px;
  width: 100%;
}

.balanco-table thead th {
  border-bottom-color: #ccc;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-weight: bold;
  padding: 12px 8px;
  text-align: center;
  vertical-align: bottom;
}

.balanco-table tbody tr {
  background-color: #f2f2f2;
}

.balanco-table tbody td {
  padding: 8px;
  text-align: right;
}

.balanco-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.balanco-table tfoot td {
  background-color: #ccc;
  font-weight: bold;
  text-align: right;
}