<form id="novoBalanco" >
  <div #btnNovo class="btn-novo">
    <Label>Criar novo balanço</Label>
    <br>
  <button #btnNovo class="btn-novo" (click)="nBalanco()"><i class='bx bx-plus-circle'></i></button>

</div>
<div  #criarBalanco class="criarBalanco ocultar">
  <label for="nome">Nome do balanço:</label>
<br>
<input  type="text" id="name" placeholder="Digite seu texto" name="name" required>
<br>
<br>
<label for="description">Descrição:</label>
<br>
<textarea id="description" name="description" rows="6" cols="50" placeholder="Digite a descrição do balanço"></textarea>
<br>
<button class="novo-balanco" (click)="newBalanco()">Criar Balanço</button>
</div>
</form>
