
.expanded {
  left: calc(100% - 250px);
  width: calc(100% - 250px);
  /* Outros estilos quando a barra lateral estiver expandida */
}

.home{
  display: block;
  position: relative;
  top: 0;
  left: 78px;
  margin-left: calc(100% - 78px);
  width: calc(100% - 78px);
  min-width: 100vh;
  background-color: #01102C;
  z-index: 6;
  transition: var(--transition);
  font-family: "iceland", sans-serif;
}
.sidebar.expand ~ .home{
  left: calc(100% - 250px);
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home p{
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}
