

<body>
    <div class="table-container">
    <table> 
       
     <th>
            Lançamentos  <!--Cabeçalho -->
    </th>
  </table>
  
   <table> 
    <tr>                  <!--Primeira linha -->
        <td class="setor1">D</td>
        <td>1</td>
        <td>Caixa</td>
        <td>20 000</td>
    </tr>
    <tr>                  <!--Segunda linha -->
        <td class="setor2">C</td>
        <td>1</td>
        <td>PL</td>
        <td>20 000</td>
    </tr>
   

    </table>

    
    </div>


    
    <body>

        <div class="another-table-container">
            <table class="table-center">
           
         <th>
                Lançamentos  <!--Cabeçalho -->
        </th>
      </table>
    
      <table>
        <tr>                  <!--Primeira linha -->
            <td class="setor2">C</td>
            <td>2</td>
            <td>Caixa</td>
            <td>15 000</td>
        </tr>
        <tr>                  <!--Segunda linha -->
            <td class="setor1">D</td>
            <td>2</td>
            <td>PL</td>
            <td>10 000</td>
        </tr>
        <tr>                  <!--Terceira linha -->
            <td class="setor1">D</td>
            <td>2</td>
            <td>PL</td>
            <td>5 000</td>
        </tr>
    
    
    
        </table>
        </div>
    </body>

</body>


  


  


  
  