<table border="">
    <tr>
        <th></th>
    </tr>
    <tr>
        <td>
            <button type="checkbox" id="Crédito"><label for="Crédito">C</label></button>
            <button type="checkbox" id="Débito"><label for="Débito">D</label></button>
        </td>
        <td>
            <label for="Ativo Circu">Ativo Ciruclante</label><br>
            <input type="checkbox" id="Ativo Ciru">
        </td>
        <td>
            <label for="Valor">Digite seu valor</label><br>
            <input type="text" id="Valor">
        </td>
    </tr>
    <tr>

    </tr>
</table>