<div class="lancamento-header">
  <div class="NF">
  <label>Numero da nota fiscal:</label>
  <br>
  <input type="number" name="Nota Fiscal" id="nf" placeholder="Nº da nota Fiscal">
  </div>
  <div class="serieNF">
    <label>Série:</label>
    <input type="number" name="Série Nota Fiscal" id="sNF" placeholder="Série da nota Fiscal">
    </div>
<div class="chaveA">
   <label for="valor">Chave de acesso:</label>
  <br>
  <input type="number" id="chaveAcesso" [(ngModel)]="chaveAcesso" placeholder="Digite a chave de acesso " [minLength]="44" [maxlength]="44">
</div>
<div class="lanc-data">
  <label>Data de emissão:</label>
  <input type="date">
  <label>Data de entrada:</label>
  <input type="date">
</div>
</div>
<div class="quadroLancamentos">
  <div class="lanc-deb">
  <label for="tipoLancamento">Tipo de Lançamento Débito:</label>
  <select id="tipoLancamento" [(ngModel)]="tipoLancamento">
    <option *ngFor="let tipo of tiposLancamento" [value]="tipo">{{ tipo }}</option>
  </select>
  <br>
  <label for="conta">Conta:</label>
  <select id="conta" [(ngModel)]="conta">
    <option *ngFor="let conta of contas" [value]="conta">{{ conta }}</option>
  </select>
  <br>
  <label for="valor">Valor:</label>
  <input type="number" id="valor" [(ngModel)]="valor" placeholder="0.000.000,00">
</div>
 <!-- Contrapartida -->
  <div class="lanc-cred">
    <label for="tipoLancamentoContrapartida">Tipo de Lançamento Crédito:</label>
    <select id="tipoLancamentoContrapartida" [(ngModel)]="tipoLancamentoContrapartida">
      <option *ngFor="let tipo of tiposLancamento" [value]="tipo">{{ tipo }}</option>
    </select>
    <br>
    <label for="contrapartidaConta">Conta:</label>
    <select id="contrapartidaConta" [(ngModel)]="contrapartidaConta">
      <option *ngFor="let conta of contas" [value]="conta">{{ conta }}</option>
    </select>
    <br>
    <label for="contrapartidaValor">Valor:</label>
    <input type="number" id="contrapartidaValor" [(ngModel)]="contrapartidaValor" placeholder="0.000.000,00">
  </div>

  <!-- Novo campo -->
  <div class="lanc-novo" *ngFor="let campo of camposDinamicos; let i = index">
    <label for="tipoLancamentoNCampo{{ i }}">Tipo de Lançamento:</label>
    <select id="tipoLancamentoNCampo{{ i }}" [(ngModel)]="campo.tipo">
      <option *ngFor="let tipo of tiposLancamento" [value]="tipo">{{ tipo }}</option>
    </select>
<br>
    <label for="nCampoConta{{ i }}">Conta:</label>
    <select id="nCampoConta{{ i }}" [(ngModel)]="campo.conta">
      <option *ngFor="let conta of contas" [value]="conta">{{ conta }}</option>
    </select>
  <br>
    <label for="nCampoValor{{ i }}">Valor:</label>
    <input type="number" id="nCampoValor{{ i }}" [(ngModel)]="campo.valor" placeholder="0.000.000,00">

    <label for="nCampoFuncao{{ i }}">Função:</label>
    <input class="checkCredito" type="checkbox" id="nCampoFuncao{{ i }}" [(ngModel)]="campo.funcaoCredito">
    <label for="nCampoFuncao{{ i }}">Crédito</label>
  </div>
  <button (click)="adicionarCampo()">Adicionar Campo</button>
  <button (click)="adicionarLancamento()">Gravar Lançamento</button>
  <button (click)="limparLancamentos()">Limpar Lançamento</button>

 <button (click)="gerarBalanco()">Gerar Balanço</button>
</div>

<table>
  <thead>
    <tr>
      <th>Nº Lançamento</th>
      <th>Função</th>
      <th>Tipo de Lançamento</th>
      <th>Conta</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lancamento of lancamentos; let i = index">
      <td>{{ i + 1 }}</td>
      <div>
      <td>{{ lancamento.tipo }}</td>
      <td>{{ lancamento.tipoLancamento }}</td>
      <td>{{ lancamento.conta }}</td>
      <td>{{ lancamento.valor | currency }}</td>
    </div>
    <div>
      <td>{{ lancamento.contrapartida?.tipo }}</td>
      <td>{{ lancamento.contrapartida?.tipoLancamento }}</td>
      <td>{{ lancamento.contrapartida?.conta }}</td>
      <td>{{ lancamento.contrapartida?.valor | currency }}</td>
    </div>
    <ng-container *ngFor="let campo of lancamento.camposDinamicos; let j = index">
      <div>
      <td>{{ campo.funcaoCredito ? 'Crédito' : 'Débito' }}</td>
        <td>{{ campo.tipo }}</td>
        <td>{{ campo.conta }}</td>
        <td>{{ campo.valor | currency }}</td>
      </div>
      </ng-container>
    </tr>
</table>
<div *ngIf="mostrarBalanco">
  <div #tabelaB class="balanco-table" [ngClass]="{'ocultar': !mostrarBalanco}">
</div>
