#Graf-Balanço{
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
}
#Ativo-Circulante {
    position: relative;
    background-color: #1D9B1A;
    top: 0;
    text-align: center;
}
#Ativo{
    vertical-align: top;   
    text-align: left;
}
#Total{
    height: 20px;
}