<table border="" id="Graf-Balanço">
    <tr>
        <th colspan="2" align="center" id="Balanço">Balanço Patrimonial</th>
    </tr>
    <tr>
        <td rowspan="2" id="Padrão">
            <div id="Ativo-Circulante">
                <p>Ativo Circulante</p>
            </div>

        </td>
        <td id="Padrão">
            <div id="Passivo-Circulante">
                <p>Passivo Ciruclante</p>
            </div>

        </td>
    </tr>
    <tr>
        <td id="Padrão">
            <div id="Passivo-N-Circulante">
                <p>Passivo Não Circulante</p>
            </div>

        </td>
    </tr>
    <tr>
        <td id="Padrão">
            <div id="Ativo-N-Circulante">
                <p>Ativo Não Circulante</p>
            </div>

        </td>
        <td id="Padrão">
            <div id="Patrimonio-Liquido">
                <p>Patrimonio Liquido</p>
            </div>

        </td>
    </tr>
    <tr id="Total">
        <td id="Total-Ativ">
        Total Ativo: 
        <div>

        </div>
        </td>
        <td id="Total-Pass">
        Total Passivo:
        <div>

        </div>
        </td>
    </tr>
</table>