<table border="" id="Graf-Balanço">
    <tr>
        <th colspan="2" align="center">Balanço Patrimonial</th>
    </tr>
    <tr>
        <td rowspan="2" id="Ativo">
            <div id="Ativo-Circulante">
                <p>Ativo Circulante</p>
            </div>
asdsadasdasdasdasdaszda
        </td>
        <td>
dasdadasda
        </td>
    </tr>
    <tr>
        <td>
dasdada
        </td>
    </tr>
    <tr>
        <td>
dasdaddas
        </td>
        <td>
dasdasdasdasd
        </td>
    </tr>
    <tr id="Total">
        <td id="">
        Total Passivo
        </td>
        <td id="">
        Total Passivo
        </td>
    </tr>
</table>