<div class="container">
  <header>
    <span class="span">Cont Lab</span>
    <nav>
      <a class="routes" routerLink="/lançamentos">Lançamentos</a>
      <a class="routes" routerLink="/login">Login</a>
      <a class="routes" routerLink="/areaUser">Usuário</a>
    </nav>
  </header>
  <section class="table-container">
    <h1 class="letrah1"> Olá, sejam bem-vindos ao nosso site!!</h1>
    <p class="letra">Somos uma equipe composta por quatro membros, Henry, Henrique, Guylherme, João.
     Nosso projeto em questão busca desenvolver e ensinar conceitos básicos de Contabilidade, no nosso site você pode usar a ferramenta de balanço,
     que pode ser encontrada acima desse container, ou na nossa side-nav, composta por tudo o que possuimos em nosso site.
     Discorrendo mais sobre o assunto inicial, realizamos essa aplicação, pensando nos alunos ou até mesmo pessoas que têm interesse pela área,
      que possuem certas dificuldades em aprender os conceitos ensinados em aula, visto em vídeos e até mesmo pessoas que buscam apenas melhorar e 
      aumentar seu conhecimento.
    </p>
    <p class="letra">
      Tomamos como base o conheecimento do nosso colega João, chamado carinhosamente de Joe, que realizou o curso de contabilidade e acabou encontrando
      dificuldades nas plataformas que disponibilizavam esse tipo de conteúdo e ensinamentos, muita das vezes esse tipo de conteúdo e os sites disponíveis
      acabavam sendo pagos e tinham um funcionamento questinável.
    </p>
    <p class="letra">
      Por conta desses acontecimentos, decidimos fazer essa aplicação em conjunto com o pessoal de contabilidade, que nos ajudaram e deram um norte das funções,
      o que ficaria melhor em certas situações e como realizar esse site para que seja acessível a todos.
    </p>
    <p class="letra">
      Muito origado pela atenção, e espero que gostem da nossa aplicação, beijos e abraços da familía ContLab<3.
    </p>
    
  </section>
</div>