*{
  --color-hover: rgba(32, 59,232);
  --transition: all 0.2s ease
}
.sidebar{
position:fixed;
top: 0;
left: 0;
z-index: 100;
width: 100px;
height: 100%;
background-color:#fff;
padding: 8px 16px;
transition: var(--transition);

border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 5px -1px navy;
}
.sidebar.expand{
width: 250px;
transition: var(--transition);
}
.nav-header{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-header .logo{
  color: rgb(117, 236, 181);
  background-color: #011d3a;
font-size: 3.0em;
font-weight: 600;
opacity: 0;
transition: var(--transition);
padding: 10px;
border-radius: 15px;
}
.sidebar.expand .nav-header .logo{
  opacity: 1;
  transition: var(--transition);
}
.nav-header .btn-menu{
  position: absolute;
  color: #000;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}
.sidebar.expand .nav-header .btn-menu{
margin-right: 0;
}
.nav-routes{
  margin: 13px;
  height: 100%;
}
.nav-routes li{
  position: relative;
  margin: 9px 0;
  list-style: none;
}
.nav-routes li:hover{
  background-color: var(--color-hover);
  width: 115%;
  border-radius: 15px;
 }
.nav-routes i{
  color: #000;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}
.sidebar:not(.expand) .nav-routes li i {
  color: #000;
}
.nav-routes  input{
  font-size: 14px;
  font-weight: 400;
  color: navy;
  outline: none;
  height: 0px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: #e2e2e2;
  padding: 0;
}
.sidebar.expand .nav-routes input{
  width: 100%;
  padding: 0 20px 0 40px;
}
.nav-routes li .routes{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #fff;
}
.nav-routes li span .text{
color: #000;
font-size: 15px;
font-weight: 400;
white-space: nowarp;
display: none;
transition: var(--transition);
}
.sidebar.expand .nav-routes li span .text{
  display: block;
  transition: var(--transition);
  text-decoration: none;
}
.sidebar.ocultar .nav-routes li span.text {
  display: none;
}
.nav-routes li:hover .text{
  color: #e2e2e2;
}
.nav-routes li:hover i{
color: #fff;
}
.nav-routes .busca-btn{
position: absolute;
top: 50%;
left: 0;
transform: translateY(-25px);
font-size: 23px;
color: #000;
border-radius: 12px;
background: #fff;
transition: var(--transition);
}
.sidebar.expand .nav-routes .busca-btn{
background: transparent;
transition: var(--transition);
}
.nav-routes .busca-btn:hover{
background-color: var(--color-hover);
}
.theme-wrapper{
position: fixed;
bottom: 0px;
display: flex;
justify-content: space-between;
height: 60px;
width: 250px;
left: 0;
padding: 8px 16px;
}
.theme-wrapper .theme-icon{/*tela de tema escuro, css da tela */
  font-size: 20px;
  color: #000;
  display: none;
  transition: var(--transition);
  transition: background-color 0.5s ease;
}
.sidebar.expand .theme-wrapper .theme-icon{
  display: block;

}
.theme-wrapper p{
  font-size: 16px;
  color: #000;
  font-weight: 400;
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-wrapper p{
  display: block;
}
.theme-wrapper .theme-btn{
width: 40px;
height: 20px;
background-color: blueviolet;
border-radius: 30px;
position: relative;

}
.theme-wrapper .theme-btn .theme-ball{
position: absolute;
background-color: #e2e2e2;
width: 15px;
height: 15px;
border-radius: 50%;
top: 2px;
left: 3px;
transition: var(--transition);
}
