* {
  justify-content: center;
  align-items: center;
}
/* Estilos para a tela de cadastro */
@media (max-width: 768px) {
  /* Estilos específicos para telas menores */

}

.cadastro {
  width: 30%; /* Garante que ocupe toda a largura disponível */
  padding: 20px; /* Espaçamento interno menor para telas menores */
  background-color: rgb(128, 128, 128);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Adicionando propriedades para centralizar */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cad-container {
  margin-bottom: 20px;
}

.cad-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}

.btn {
  text-align: center;
}

.btn button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cad {
  background-color: #4caf50;
  color: white;
}

.btn-can {
  background-color: #f44336;
  color: white;
}
