@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-size: 18pt;
}
.btn{
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    
}
.btn-cad{
    background-color:  #202020;
    color: #039900;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    align-self: center;
    border-width: 1px;
}
.btn-can{
    background-color:  #202020;
    color: #f10707;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    align-self: center;
    border-width: 1px;

}